@charset "UTF-8";

body {
  margin: 12px 0;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

table {
  margin-left: 10%;}
}

.card-container {
  perspective: 600;
  position: relative;
  width: 100px;
  height: 100px;
}

.flipcard {
  height: 10%;
  position: absolute;
  transition: all 1s ease-in-out;
  width: 100%;
}

.flipcard:hover {
  transform: rotateX(180deg);
}

.flipcard .front {
  background: #9933CC;
  border-radius: 2px;
  height: 100%;
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
}

.card .back {
  background: #330033;
  color: #fff;
  line-height: 150px;
  text-align: center;
  transform: rotateX(180deg);
}
