@charset "UTF-8";

.datagrid table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

.datagrid {
  font: normal 12px/150%;
  font-family: 'Kalam', cursive;
  border: 5px solid #601599;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.datagrid table td, .datagrid table th {
  padding: 3px 3px;
}

.datagrid table thead th {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFFCFC), color-stop(1, #63167F) );
  background:-moz-linear-gradient( center top, #FFFCFC 5%, #63167F 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFCFC', endColorstr='#63167F');
  background-color:#FFFCFC;
  color:#FFFFFF;
  font-size: 15px;
  font-weight: bold;
  border-left: 0px solid #FFFCFE;
}

.datagrid table thead th:first-child {
  border: none;
}

.datagrid table tbody td {
  color: #000000;
  border-left: 1px solid #E1EEF4;
  font-size: 12px;
  font-weight: normal;
}

.datagrid table tbody .alt td {
  background: #AB69D6;
  color: #000000;
}

/*.datagrid table tbody td:first-child {
  border-left: none;
}*/

.datagrid table tbody tr:last-child td {
  border-bottom: none;
}

tr, th, td, table, thead, tbody, .alt, .datagrid {
  border: 5px solid #601599;
}
